# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local
.env.production.local
.env.development.local

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Misc
*.log
.DS_Store
